*{margin: 0;
    padding: 0;
}


html, body{

height: 100%;
display: block;
font-family: 'Montserrat', sans-serif;
}
.container{
    display: block;
    margin: o auto;    
    width: 1366 px;
    min-height: 100%;
}
header{
    
    padding-left: 98px;
    height: 800px;
    background-image:url(../img/);
    background-repeat:no-repeat ;

    
}